<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>



<p>From: Dronesmith team <support@dronesmith.io> </p>
<p>Subject: Your new password was changed! </p>


<p>Hello,</p>

<br>

<p>Welcome to the Dronesmith community!</p>

<br>

<p>Your password was changed.  If you did not change your password please contact us</p>


Best,
Seth Welday
Developer Evangelist


  
  </body>
</html>


