<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>



<p>Hello <%=@user.first_name %>,</p>

<br>

<p>Your password was changed.  If you did not change your password please contact us</p>

Best,
<br>
Seth Welday
<br>
Developer Evangelist


  
  </body>
</html>


