<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

<p>Hello <%=@user.first_name %>,</p> 
<p>welcome to the Dronesmith community!</p>

<br>

<p>This is your API Key:</p>
<p><%= @user.apikey %></p>
<br>
<p>We are super excited to have you onboard for our beta experience! Dronesmith Hangar is the fastest way to get started with drone development.</p>
<br>

<p>Up until recently, the development process for drone applications has been hardware-first-- a practice that restricts developers to either single vendor hardware solutions or months of hardware research and development. In our mission to deliver you the best development experience however, we found that taking a software-first approach allows you to better design, iterate, and test your application in a simulated environment before deploying a drone in the physical world.</p>
<br>


<p>As you get a chance to experiment and play around with our API, let us know how we can improve-- your feedback will be invaluable in helping us provide you with the tools you need for your journey.</p>
<br>


<p>If you have any questions, feel free to contact me via email, through our <a href="http://community.dronesmith.io/">Slack</a> community, or we can set up a video call. In the meantime, dive right in with our <a href="https://github.com/dronesmith/Dronesmith-Ground-Control">sample app</a> and check out our documentation for more information on our API.</p>

<br>

Best,
<br>
Seth Welday
<br>
Developer Evangelist


  
  </body>
</html>


